.side-drawer {
    height: 100%;
    margin-top: 56px;
    background: linear-gradient(to right,  rgba(226, 227, 233, 0.85), rgba(204, 231, 238, 0.85));
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 5px;
  }

  .side-drawer li {
    border-bottom: .25px solid #454A21;
    transition: all 1s;
  }
  

  .side-drawer a {
    display: block;
    color: #15A0BF;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 1s;
    
  }

  .side-drawer li:hover,
  .side-drawer li:active {
    background: #15A0BF;
  }

  .side-drawer a:hover,
  .side-drawer a:active {
    color: white;
    font-size: 1.22rem;
  }

  @media (min-width: 769px) {
    .side-drawer {
      display: none;
    }
  }